{% extends "layouts/base.html.twig" %} 

{% block title %}Change password{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center my-4">Change password</h1>
            {{ form_start(form) }}
                {{ form_widget(form) }}

                <button class="btn btn-primary btn-lg w-100">Update password</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
