{% extends "layouts/base.html.twig" %} 

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="my-4">Account</h1>
            
                <img src="{{ asset('build/image/profile_img.jpg')}}" class="rounded mx-auto d-block w-25" alt="User profile image"/>
            
            <p class="lead mt-5">{{ app.user.email}}</p>
            <h2>{{ app.user.fullName}}</h2>

            <p><a href="{{ path('app_account_edit') }}" class="text-decoration-none">Edit account</a> | <a href="#" class="text-decoration-none">Change password</a></p>
            
        </div>
    </div>
{% endblock %}
