{% extends 'layouts/base.html.twig' %}

{% block title %}New pin{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1>Create pin</h1>

  {{ include('pins/_form.html.twig') }}
    </div>
  </div>

{% endblock %}