{% extends 'base.html.twig' %}

{% block title %}New pin{% endblock %}

{% block body %}
  <h1>Create pin</h1>

  {{ form_start(form) }}
    {# representation of all the fields next line #}
    {{ form_widget(form) }} 
   

    <input type="submit" value="Create Pin" formnovalidate>
  {{ form_end(form) }}

{% endblock %}