@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "shared/_variables.scss";
@import "~bootstrap";
body {
	font-family: $primary-font, sans-serif;
}

.alert {
	padding: 10px;
	color: white;
	text-align: center;
	margin: 0;
	border-radius: 0;
	border: none;
	&.alert-succes {
		background-color: green;
	}
	&.alert-error {
		background-color: red;
	}
	&.alert-info {
		background-color: blue;
	}
}
